@model Kent.Business.Core.Models.FooterTemplates.FooterTemplateManageModel
@{
    ViewBag.Title = "Tạo mới header";
}



<div class="row">
    <div class="col-12">
        @using (Html.BeginForm("Create", "FooterTemplates", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <h2>Tạo mới header</h2>
            @Html.EditorForModel(Model)
        }
    </div>
</div>

