@model Kent.Business.Core.Models.FooterTemplates.FooterTemplateManageModel
@{
    ViewBag.Title = "Chỉnh sửa";
}

<div class="row">
    <div class="col-12">
        @using (Html.BeginForm("Edit", "FooterTemplates", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <h2>Chỉnh sửa Footer template</h2>
            @Html.EditorForModel(Model)
        }
    </div>
</div>

