@model Kent.Business.Core.Models.HeaderTemplates.HeaderTemplateManageModel
@{
    ViewBag.Title = "Chỉnh sửa";
}

<link rel="stylesheet" href="~/Content/Plugins/datatables/dataTables.bootstrap4.css">

<div class="row">
    <div class="col-12">
        @using (Html.BeginForm("Edit", "HeaderTemplates", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.EditorForModel(Model)
        }
    </div>
</div>

