<table>
    <thead>Liên hệ</thead>
    <tbody>
        <tr>
            <td>Email</td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td>Họ tên</td>
            <td>@Model.Fullname</td>
        </tr>
        <tr>
            <td>Số điện thoại</td>
            <td>@Model.PhoneNumber</td>
        </tr>
        <tr>
            <td>Nội dung</td>
            <td>@Model.Content</td>
        </tr>
    </tbody>
</table>