<!-- Modal -->
<div id="thamquan" class="modal fade" role="dialog">
    <div class="modal-dialog form_tuvan_popup">
        <!-- Modal content-->
        <div class="modal-content" style="background: none;border: none;box-shadow:  none;">
            <div class="modal-body">
                <div class="form_signup">
                    <div class="form_signup__content">
                        @{Html.RenderAction("VisitSchool", "Forms");}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end popup tham quan -->