@model Kent.Web.Models.Forms.ContactModel
@{
    Layout = null;
    ViewBag.Title = "Liên hệ";
}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="~/Content/site.css">

<div class="contact_columns__right">
    @using (Ajax.BeginForm("Contact", "Forms", new AjaxOptions() { OnBegin = "ContactSubmit", OnSuccess = "ContactSuccess", OnComplete = "ContactComplete" }))
    {
        <h2>Gửi liên hệ</h2>
        <div class="form-group col-sm-12">
            <label for="email" class="col-sm-4">Email</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "col-sm-8" })
        </div>
        <div class="form-group col-sm-12">
            <label for="email" class="col-sm-4">Họ tên</label>
            @Html.TextBoxFor(m => m.Fullname, new { @class = "col-sm-8" })
        </div>
        <div class="form-group col-sm-12">
            <label for="email" class="col-sm-4">Số điện thoại</label>
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "col-sm-8" })
        </div>
        <div class="form-group col-sm-12">
            <label for="email" class="col-sm-4">Nội dung</label>
            @Html.TextAreaFor(m => m.Content, new { @class = "col-sm-8" })
        </div>
        <div class="form-group col-sm-12">
            <label for="email" class="col-sm-4 space_button">&nbsp;</label>
            <button type="submit" class="btn bg1">Submit</button>
        </div>
    }
</div>
<script src="../Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="../Scripts/bootstrap.min.js"></script>
<div id="successModal" class="modal fade" role="dialog">
    <div class="modal-dialog form_tuvan_popup">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="form_success">
                    <div class="form_success__content">
                        <img src="images/icon_success.png" alt="">
                        <p>
                            Gửi thông tin thành công, chúng tôi sẽ gọi điện xác nhận
                            và tư vấn chi tiết đến bạn trong vòng 24 giờ tới.<br />
                            Xin cảm ơn!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function ContactSubmit() {
        var specializeList = [];
        $('input:checkbox:checked').each(function () {
            specializeList.push($(this).attr('value'));
        });
        document.getElementById("Specialize").value = specializeList;
    };
    function ContactComplete(result) {
        $("#successModal").modal();
    }

    function ContactSuccess(result) {
        if (result.success == true) {
            $("#successModal").modal();
        }
    }
</script>