<!--BannerMain-->
<div id="slider-js" class="owl-carousel slider_banner">
    <div class="item">
        <a href=""><img src="/Content/particular/images/Kent\trangchu\index2.jpg" alt="The Last of us" /><img class="img_mobile" src="images/home/slider_mobile.jpg" alt="The Last of us" /></a>
    </div>
    <div class="item">
        <a href=""><img src="/Content/particular/images/Kent\trangchu\index1.jpg" alt="The Last of us" /><img class="img_mobile" src="images/home/slider_mobile.jpg" alt="The Last of us" /></a>
    </div>
</div>
<!-- Demo -->
<!--Banner Event-->
<section class="banner-event margtp20">
    <div class="container">
        <div class="banner_tuyensinh">
            <a href="tuyensinh.html">
                <p class="animated bounceInLeft">Bạn đã sẵn sàng thay đổi tương lai với Kent?</p>
                <img class="animated2 animated slideInRight" src="images/common/tuyen_sinh.gif" alt="">
            </a>
        </div>
    </div>
</section>
<!--News-->
<section class="news margtp20">
    <div class="container">
        <div id="news-js" class="owl-carousel news-text">
            <div class="item">
                <div class="left left_minds">
                    <h2 class="margbt20">Tin tức & Sự kiện</h2>
                    <h3 class="margbt10"><a href="ngay-hoi-tuyen-dung-2018.html">NGÀY HỘI TUYỂN DỤNG - JOB FAIR 2018</a></h3>
                    <p class="date margbt10">29/06/2018</p>
                    <p class="description margbt20">Chiều  ngày 29 tháng 6 năm 2018, tại trường Quốc tế Kent đã diễn ra Ngày Hội Tuyển Dụng  với sự tham gia của đại diện các công ty đa quốc gia và các tập đoàn hàng đầu...</p>
                    <a class="btn bg1" href="ngay-hoi-tuyen-dung-2018.html">Đọc tiếp</a>
                </div>
                <div class="right left_minds"><img width="584" height="380" src="images/tintuc/ngayhoituyendung/1.jpg" alt="" /></div>
            </div>
            <div class="item">
                <div class="left left_minds">
                    <h2 class="margbt20">Tin tức & Sự kiện</h2>
                    <h3 class="margbt10"><a href="kent-tro-thanh-trung-tam-chinh-thuc-dau-tien-cua-ncfe-tai-viet-nam.html">Kent International College trở thành Trung tâm chính thức đầu tiên của NCFE tại Việt Nam</a></h3>
                    <p class="date margbt10">15/05/2018</p>
                    <p class="description margbt20">Sáng ngày 20 tháng 4 năm 2018, Kent International College (Kent Việt Nam) đã tổ chức Lễ công bố Chứng nhận của Tổ chức thẩm định và cấp bằng NCFE (Anh Quốc) cho các chương trình đào tạo của Kent Việt Nam</p>
                    <a class="btn bg1" href="kent-tro-thanh-trung-tam-chinh-thuc-dau-tien-cua-ncfe-tai-viet-nam.html">Đọc tiếp</a>
                </div>
                <div class="right left_minds"><img src="/Content/particular/images/Kent\trangchu\index4.jpg" alt="" /></div>
            </div>

        </div>
    </div>
</section>
<!--Video-->
<section class="library-video">
    <div class="container">
        <div data-toggle="modal" data-target="#myModal" class="img_video"><img class="video" src="images/common/video.png" alt=""></div>
        <div class="thuvienhinhanh">
            <div class="text">
                <h3 class="margbt20">Thư viện video</h3>
                <p class="margbt20">“Kho tàng” video lưu giữ những khoảng khắc của bạn cùng Kent International College và các chia sẻ bổ ích.</p>
                <a class="btn bg1" href="https://www.youtube.com/user/kentcollegevietnam/videos?view_as=subscriber">Xem ngay</a>
                <div class="img_green"><img src="images/common/green_la.png" alt=""></div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade " id="myModal" role="dialog">
            <div class="modal-dialog body_videopopup">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="video_popup">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/Dt8D3A9fC5Q" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--LifeColor-->
<section class="life-color margtp20">
    <div class="container">
        <div class="spacing">
            <div class="left left_388">
                <div class="text">
                    <h3 class="margbt20">Cuộc sống muôn màu</h3>
                    <p class="margbt20">Mở rộng tầm nhìn và tâm hồn bạn với các góc nhìn đa dạng, muôn màu trong cuộc sống.</p>
                    <a class="btn bg1" href="https://www.youtube.com/channel/UCGk3yw5k_xQUS_KSDCC6Nhw/videos" target="_blank">Xem ngay</a>
                </div>
            </div>
            <div class="right right_782"><img src="/Content/particular/images/Kent\trangchu\index5.jpg" alt=""></div>
        </div>
    </div>
</section>
<!--Register-->
<section class="register margtp20">
    <div class="container">
        <div class="bg text-center">
            <h2 class="margbt20">Bạn có thể đăng ký</h2>
            <ul>
                <li><a data-toggle="modal" data-target="#tuvan" class="btn bg1" href="#">Tư vấn</a></li>
                <li><a data-toggle="modal" data-target="#thamquan" class="btn bg1" href="#">Tham quan trường</a></li>
                <li><a class="btn bg1" href="dangkynhaphoc.html">Nhập học</a></li>
            </ul>
        </div>
    </div>
</section>