@model Kent.Business.Core.Models.Pages.PageManageModel
@{
    ViewBag.Title = "Chỉnh sửa";
}

<link rel="stylesheet" href="~/Content/Plugins/datatables/dataTables.bootstrap4.css">

<div class="row">
    <div class="col-12">
        <h2>Page</h2>
        @using (Html.BeginForm("Edit", "Pages", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.EditorForModel(Model)
        }
    </div>
</div>

