@{
    Layout = "~/Views/Shared/_LayoutTestEnglish.cshtml";
}
<div class="test_english test_englishBg">
    <div class="container">
        <div class="form_question">
            <h2>Chúc mừng bạn đã hoàn thành bài kiểm tra,</h2>
            <p>Vui lòng điền thông tin để chúng tôi hiểu bạn nhiều hơn và nhận kết quả chính xác nhất</p>
            <div class="form_question__form">
                <form>
                    <div class="col-sm-6 form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Họ và tên">
                    </div>
                    <div class="col-sm-6 form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <div class="col-sm-6 form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Số điện thoại">
                    </div>
                    <div class="col-sm-6 form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Độ tuổi">
                    </div>
                    <div class="col-sm-6 form-group">
                        <select class="form-control" name="" id="">
                            <option value="">Bạn đang sống</option>
                            <option value="">HCM</option>
                            <option value="">Đà Nẵng</option>
                        </select>
                    </div>
                    <div class="col-sm-6  form-check check_formquestion">
                        <span>Tư vấn miễn phí</span>
                        <div class="check_formquestion__item">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Có</label>
                        </div>
                        <div class="check_formquestion__item">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Không</label>
                        </div>
                    </div>
                    <div class="test_englishBg__body__button">
                        <button type="submit">Nhận kết quả</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>