@{
    Layout = "~/Views/Shared/_LayoutTestEnglish.cshtml";
}
<div class="test_english test_englishBg">
    <div class="container">
        <div class="test_englishBg__body3">
            <div class="test_englishBg__body3__tab">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Bài học</a></li>
                    <li><a data-toggle="tab" href="#menu1">Câu hỏi</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <h1>An Introduction to Film Sound </h1>
                        <p>
                            To biomedical researchers all over the world, twins offer a precious opportunity to untangle the influence of genes and the environment - of nature and nurture. Because identical twins come from a single fertilized egg that splits into two, they share virtually the same genetic code. Any differences between them - one twin having younger looking skin, for example - must be due to environmental factors such as less time spent in the sun. Alternatively, by comparing the experiences of identical twins with those of fraternal twins, who come from separate eggs and share on average half their DNA, researchers can quantify the extent to which our genes affect our lives. If identical twins are more similar to each other with respect to an ailment than fraternal twins are, then vulnerability to the disease must be rooted at least in part in heredity. These two lines of research - studying the differences between identical twins to pinpoint the influence of environment, and comparing identical twins with fraternal ones to measure the role of inheritance - have been crucial to understanding the interplay of nature and nurture in determining our personalities, behavior, and vulnerability to disease.
                        </p>
                        <p>
                            To biomedical researchers all over the world, twins offer a precious opportunity to untangle the influence of genes and the environment - of nature and nurture. Because identical twins come from a single fertilized egg that splits into two, they share virtually the same genetic code. Any differences between them - one twin having younger looking skin, for example - must be due to environmental factors such as less time spent in the sun. Alternatively, by comparing the experiences of identical twins with those of fraternal twins, who come from separate eggs and share on average half their DNA, researchers can quantify the extent to which our genes affect our lives. If identical twins are more similar to each other with respect to an ailment than fraternal twins are, then vulnerability to the disease must be rooted at least in part in heredity. These two lines of research - studying the differences between identical twins to pinpoint the influence of environment, and comparing identical twins with fraternal ones to measure the role of inheritance - have been crucial to understanding the interplay of nature and nurture in determining our personalities, behavior, and vulnerability to disease.
                        </p>
                        <p>
                            These reactions influence how our genetic code is expressed: how each gene is strengthened or weakened, even turned on or off, to build our bones, brains and all the other parts of our bodies. If you think of our DNA as an immense piano keyboard and our genes as the keys - each key symbolizing a segment of DNA responsible for a particular note, or trait, and all the keys combining to make us who we are - then epigenetic processes determine when and how each key can be struck, changing the tune being played. One way the study of epigenetics is revolutionizing our understanding of biology is by revealing a mechanism by which the environment directly impacts on genes. Studies of animals, for example, have shown that when a rat experiences stress during pregnancy, it can cause epigenetic changes in a fetus that lead to behavioral problems as the rodent grows up. Other epigenetic processes appear to occur randomly, while others are normal, such as those that guide embryonic cells 88 as they become heart, brain, or liver cells, for example. Geneticist Danielle Reed has worked with many twins over the years and thought deeply about what twin studies have taught us.
                        </p>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <div class="slider_question">
                            <div id="slider-js" class="owl-carousel slider_banner ">
                                <div class="item">
                                    <h2>In the first paragraph, the writer makes a point that </h2>
                                    <div class="sliderquestion__Check">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1">to welcome its new members</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                            <label class="form-check-label" for="exampleCheck2"> to commemorate its 10th anniversary </label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck3">
                                            <label class="form-check-label" for="exampleCheck3"> to celebrate the award it received recently</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <h2>In the first paragraph, the writer makes a point that </h2>
                                    <div class="sliderquestion__Check">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1">to welcome its new members</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                            <label class="form-check-label" for="exampleCheck2"> to commemorate its 10th anniversary </label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck3">
                                            <label class="form-check-label" for="exampleCheck3"> to celebrate the award it received recently</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <h2>In the first paragraph, the writer makes a point that </h2>
                                    <div class="sliderquestion__Check">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1">to welcome its new members</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                            <label class="form-check-label" for="exampleCheck2"> to commemorate its 10th anniversary </label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck3">
                                            <label class="form-check-label" for="exampleCheck3"> to celebrate the award it received recently</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <h2>In the first paragraph, the writer makes a point that </h2>
                                    <div class="sliderquestion__Check">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1">to welcome its new members</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                            <label class="form-check-label" for="exampleCheck2"> to commemorate its 10th anniversary </label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck3">
                                            <label class="form-check-label" for="exampleCheck3"> to celebrate the award it received recently</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <h2>In the first paragraph, the writer makes a point that </h2>
                                    <div class="sliderquestion__Check">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1">to welcome its new members</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                            <label class="form-check-label" for="exampleCheck2"> to commemorate its 10th anniversary </label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck3">
                                            <label class="form-check-label" for="exampleCheck3"> to celebrate the award it received recently</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <h2>In the first paragraph, the writer makes a point that </h2>
                                    <div class="sliderquestion__Check">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1">to welcome its new members</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                            <label class="form-check-label" for="exampleCheck2"> to commemorate its 10th anniversary </label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck3">
                                            <label class="form-check-label" for="exampleCheck3"> to celebrate the award it received recently</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sliderquestion_button">
                                <button type="submit">Tiếp theo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>