@{
    Layout = "~/Views/Shared/_LayoutTestEnglish.cshtml";
}

<div class="test_english test_english_question">
    <img class="left_test" src="~/Content/Media/TestEnglish/question_seccess_left.jpg" alt="" />
    <img class="right_test" src="~/Content/Media/TestEnglish/question_seccess.jpg" alt="" />
    <div class="container">
        <div class="bg_success">
            <h6>Số điểm của bạn là</h6>
            <h1>0/10</h1>
            <p>
                Bạn cần thêm thời gian để tìm hiểu IELTS!
                Có vẻ bạn chỉ mới bắt đầu hành trình làm quen với IELTS. Kỹ năng Nghe và Đọc của bạn vẫn cần được nâng cao hơn nữa. Hãy dành nhiều thời gian rèn luyện với các bài thi mẫu và tìm cho mình một phương pháp học tập hiệu quả, bạn sẽ sớm đạt được mục tiêu, dự định của mình thông qua tiếng Anh!
            </p>
            <div class="like_sharefacebook">
                <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=112&layout=button&action=like&size=small&show_faces=true&share=true&height=65&appId" width="112" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
            <div class="sliderquestion_button">
                <button type="submit">Hoàn tất</button>
            </div>
        </div>
    </div>
</div>
